@import "tailwindcss";
@plugin "daisyui";
body{
    animation: opacityanimation 1s ease-in;
}
@keyframes  opacityanimation  {
    0%{
     opacity: 0;
    }
    100%{
      opacity: 10;
    }
}

.extra-icon{
    cursor: pointer;
}
@media only screen and (max-width:450px) {
    .extra-icon{
        @apply h-14.5 w-14.5
    }
   
    .dev-image{
        @apply h-63 w-63
    }
    .Name{
        margin-top: 1.5px;
        font-size: 27.5px;
        margin-right: 4px;
    }
}
@media only screen and (max-width:347px) {
    .Name{
        margin-top: 2px;
        font-size: 24px;
        margin-right: 3px;
    }
}
.Name{
    font-family: "Open Sans", sans-serif;
    margin-top: 2px;
}
.menu-font{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.home-page-title{
    @apply w-auto mb-1 text-wrap 
}
.home-page-title-para{
    @apply w-90
}
@media only screen and (max-width:390px) {
    .home-page-title{
        @apply w-full mb-1 pl-3  text-wrap
    }
    .home-page-title-para{
        @apply w-full pl-3 pr-2
    }
    .dev-image{
        @apply h-62 w-62 
    }
    .home-page-title-skill-container{
   @apply ml-1.5
}
}
@media only screen and (max-height:650px) {
    .front-page-container {
        @apply h-auto mt-15 mb-15
    }
    .SideBarMenu{
        @apply pt-12 sticky top-5 
    }
}

.front-page-container{
    font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width:290px) {
    .dev-image{
        @apply h-45 w-45
    }
}
.SideBarMenu{
    @apply pt-12 sticky top-9 
}
@media only screen and (max-width:768px) {
    .SideBarMenu{
        @apply pt-12 sticky top-5.5
    }
}
@media only screen and (min-width:768px) {
    .SideBarMenu{
        @apply pt-16 sticky top-3
    }
}
.heading-font{
    font-family: "Roboto", sans-serif;
}
@media only screen and  (max-height:533px) {
    .SideBarStyle-forsmallheight{
        @apply hidden
    }
}
@media only screen and  (max-height:1043px) {
    .SideBarStyle{
        @apply  h-[85vh] mb-1
    }
}
@media only screen and  (max-height:1306px) {
    .SideBarStyle{
        @apply  h-[85vh] mb-1
    }
}
@media only screen and  (min-height:740px) {
    .SideBarStyle{
        @apply  mb-4.5
    }
}
@media only screen and  (max-height:817px) {
    .SideBarStyle{
        @apply  h-auto mb-1
    }
}
@media only screen and (max-height:1030px) {
    .skillsection-container{
        @apply overflow-hidden h-auto  
    }
}

